.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  width: 100%;
  background: #006c43;
  color: #f9f4d7;
}

.quote__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  max-width: 500px;
  width: 100%;
}

.quote__icon {
  align-self: flex-start;
  margin-right: 20px;
  width: 42px;
  height: 42px;
}

.quote__text {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 879px) {
  .quote__container {
    padding: 48px;
  }
}

@media screen and (max-width: 719px) {
  .quote__container {
    flex-direction: column;
    margin: 0;
  }

  .quote__icon {
    margin-bottom: 20px;
    width: 84px;
    height: 84px;
  }
}
