.header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px;
  width: 100%;
}

.header__logo-link {
  line-height: 0;
}

@media screen and (max-width: 879px) {
  .header {
    align-items: center;
    flex-direction: column;
    padding: 24px 18px;
  }
}
