.slider {
  margin: 48px 0;
  max-width: 760px;
}

.slide {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

.slide__image {
  margin: 0 10px;
}

@media screen and (max-width: 679px) {
  .slider {
    margin: 36px 18px;
  }

  .slide {
    align-self: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .slide__image {
    margin: 10px 0;
  }
}
