.slider {
  margin: 48px 0;
  max-width: 760px;
}

.slide {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

.slide__image {
  margin: 0 10px;
  max-width: 50%;
  border-radius: 12px;
}

.swiper-container {
  overflow: visible;
}

.swiper-pagination-bullet {
  border: 3px solid #db8b2d;
  background: none;
  opacity: 1;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #db8b2d;
}

.swiper-button-prev {
  right: auto;
  left: 10px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #db8b2d;
  transition: scale .5s ease-in;
  transform: translateX(-50%);

  --swiper-navigation-size: 24px;
  --swiper-navigation-color: #fff;
}

.swiper-button-prev:hover {
  transform: scale(120%) translateX(-40%);
}

.swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #db8b2d;
  border-radius: 50%;
  background: #db8b2d;
  transition: scale .5s ease-in;
  transform: translateX(50%);

  --swiper-navigation-size: 24px;
  --swiper-navigation-color: #fff;
}

.swiper-button-next:hover {
  transform: scale(120%) translateX(40%);
}

@media screen and (max-width: 679px) {
  .slider {
    margin: 36px 18px;
  }

  .slide {
    align-self: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .slide__image {
    margin: 10px 0;
    max-width: none;
  }

  .swiper-pagination {
    transform: translateY(150%);
  }
}
